* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white-space: 24px;
  --color-1: rgb(253, 253, 253);
  --color-2: rgb(15, 15, 15);
  --btnHeight: 56px;
  --radius: 8px;
}
html,
body {
  overflow: hidden;
}

body {
  height: 100svh;
  width: 100%;
  background-color: var(--color-2);
  font-family: "Roboto Mono";
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-1);

  @import "./common";

  header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 14px var(--white-space);
    background-color: var(--color-2);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  #main-canvas {
    height: 100%;
    width: 100%;
  }

  .tab-bar {
    width: 100%;
    background-color: var(--color-2);
    padding: 10px var(--white-space);
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    .message-cont {
      position: absolute;
      bottom: 100%;
      right: 0;
      z-index: -1;
      overflow: hidden;

      p {
        width: max-content;
        border-radius: var(--radius);
        outline: 2px solid var(--color-1);
        outline-offset: -2px;
        background-color: var(--color-2);
        padding: 10px 16px;
        margin-right: var(--white-space);
        transform: translateX(100%);
        opacity: 0;
        transition: 0.15s ease-out;
        will-change: transform, opacity;

        &.active {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }

    .button,
    button {
      flex-shrink: 0;
    }

    .main-btns {
      display: flex;
      gap: var(--white-space);

      #download-btn {
        border-radius: 50%;
        background-color: var(--color-1);
        outline-color: var(--color-2);

        path {
          fill: var(--color-2);
        }
      }

      .settings {
        .settings-tab {
          width: 100%;
          background-color: var(--color-2);
          display: flex;
          justify-content: space-between;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          padding: 10px var(--white-space);
          opacity: 0;
          transform: translateY(100%);
          transition: 0.15s ease-out;
          will-change: transform, opacity;

          &.active {
            transform: translateY(0);
            opacity: 1;
          }

          .settings-btns {
            display: flex;
            gap: var(--white-space);

            .slide-cont {
              position: relative;
              display: flex;
              justify-content: center;

              .cont {
                background-color: var(--color-2);
                border-radius: var(--radius) var(--radius) 0 0;
                position: absolute;
                bottom: 100%;
                transform: translateY(100%);
                z-index: -1;
                opacity: 0;
                transition: 0.15s ease-out;
                will-change: transform, opacity;

                &.vertical {
                  width: 100%;
                  height: 232px;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  input {
                    flex-shrink: 0;
                    width: 200px;
                    transform: rotate(270deg);
                  }
                }

                &:not(.vertical) {
                  padding: 16px;
                }
              }

              &.active {
                button {
                  outline: 2px solid var(--color-1);
                }

                .cont {
                  transform: translateY(0);
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  :root {
    --white-space: 16px;
    --btnHeight: 48px;
  }

  body {
    font-size: 14px;

    .button,
    button {
      svg {
        height: 24px;
        width: 24px;
      }
    }

    header {
      padding: 10px var(--white-space);
    }
    .tab-bar {
      padding: 6px var(--white-space);

      .main-btns .settings .settings-tab {
        padding: 6px var(--white-space);

        .settings-btns .slide-cont .cont.vertical {
          height: 190px;

          input {
            width: 170px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 350px) {
  :root {
    --white-space: 10px;
  }
}
