* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white-space: 24px;
  --color-1: rgb(253, 253, 253);
  --color-2: rgb(15, 15, 15);
  --btnHeight: 56px;
  --radius: 8px;
}

body {
  height: 100svh;
  width: 100%;
  background-color: var(--color-2);
  overflow: hidden;
  font-family: "Roboto Mono";
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-1);
}
body a,
body button,
body select {
  color: var(--color-1);
  font-size: inherit;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
body .button,
body button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--btnHeight);
  width: var(--btnHeight);
  outline: none;
  outline-offset: -2px;
  outline-color: var(--color-1);
  border: none;
  border-radius: var(--radius);
  background: none;
  background-color: var(--color-2);
}
body .button:disabled,
body button:disabled {
  opacity: 0.5;
  cursor: default;
}
body .button:disabled:hover,
body button:disabled:hover {
  outline: none;
}
body .button svg,
body button svg {
  height: 30px;
  width: 30px;
}
@media (hover: hover) and (pointer: fine) {
  body .button:hover,
  body button:hover {
    outline: 2px solid;
  }
}
body object {
  pointer-events: none;
}
body .icon path {
  fill: var(--color-1);
}
body select {
  background-color: var(--color-2);
  font-family: inherit;
  text-transform: uppercase;
  padding: 0.3em;
  border-radius: var(--radius);
  border: none;
  outline: 2px solid var(--color-1);
  outline-offset: -2px;
}
body input[type=range] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 1em;
  border-radius: 1em;
  outline: 2px solid var(--color-1);
  outline-offset: -2px;
  background-color: var(--color-2);
  cursor: pointer;
  overflow: hidden;
}
body input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background-color: var(--color-1);
  box-shadow: calc(-200px - 0.5em) 0 0 200px var(--color-1);
}
body input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
       appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background-color: var(--color-1);
  box-shadow: calc(-200px - 0.5em) 0 0 200px var(--color-1);
}
body header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 14px var(--white-space);
  background-color: var(--color-2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
body #main-canvas {
  height: 100%;
  width: 100%;
}
body .tab-bar {
  width: 100%;
  background-color: var(--color-2);
  padding: 10px var(--white-space);
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
body .tab-bar .message-cont {
  border-radius: var(--radius);
  outline: 2px solid var(--color-1);
  outline-offset: -2px;
  background-color: var(--color-2);
  padding: 10px 16px;
  position: absolute;
  bottom: 100%;
  right: var(--white-space);
  z-index: -1;
  transform: translateX(100%);
  opacity: 0;
  transition: 0.15s ease-out;
  will-change: transform, opacity;
}
body .tab-bar .message-cont p {
  width: 250px;
}
body .tab-bar .message-cont.active {
  transform: translateX(0);
  opacity: 1;
}
body .tab-bar .button,
body .tab-bar button {
  flex-shrink: 0;
}
body .tab-bar .main-btns {
  display: flex;
  gap: var(--white-space);
}
body .tab-bar .main-btns #download-btn {
  border-radius: 50%;
  background-color: var(--color-1);
  outline-color: var(--color-2);
}
body .tab-bar .main-btns #download-btn path {
  fill: var(--color-2);
}
body .tab-bar .main-btns .settings .settings-tab {
  width: 100%;
  background-color: var(--color-2);
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 10px var(--white-space);
  opacity: 0;
  transform: translateY(100%);
  transition: 0.15s ease-out;
  will-change: transform, opacity;
}
body .tab-bar .main-btns .settings .settings-tab.active {
  transform: translateY(0);
  opacity: 1;
}
body .tab-bar .main-btns .settings .settings-tab .settings-btns {
  display: flex;
  gap: var(--white-space);
}
body .tab-bar .main-btns .settings .settings-tab .settings-btns .slide-cont {
  position: relative;
  display: flex;
  justify-content: center;
}
body .tab-bar .main-btns .settings .settings-tab .settings-btns .slide-cont .cont {
  background-color: var(--color-2);
  border-radius: var(--radius) var(--radius) 0 0;
  position: absolute;
  bottom: 100%;
  transform: translateY(100%);
  z-index: -1;
  opacity: 0;
  transition: 0.15s ease-out;
  will-change: transform, opacity;
}
body .tab-bar .main-btns .settings .settings-tab .settings-btns .slide-cont .cont.vertical {
  width: 100%;
  height: 232px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .tab-bar .main-btns .settings .settings-tab .settings-btns .slide-cont .cont.vertical input {
  flex-shrink: 0;
  width: 200px;
  transform: rotate(270deg);
}
body .tab-bar .main-btns .settings .settings-tab .settings-btns .slide-cont .cont:not(.vertical) {
  padding: 16px;
}
body .tab-bar .main-btns .settings .settings-tab .settings-btns .slide-cont.active button {
  outline: 2px solid var(--color-1);
}
body .tab-bar .main-btns .settings .settings-tab .settings-btns .slide-cont.active .cont {
  transform: translateY(0);
  opacity: 1;
}

@media screen and (max-width: 500px) {
  :root {
    --white-space: 16px;
    --btnHeight: 48px;
  }
  body {
    font-size: 14px;
  }
  body .button svg,
  body button svg {
    height: 24px;
    width: 24px;
  }
  body header {
    padding: 10px var(--white-space);
  }
  body .tab-bar {
    padding: 6px var(--white-space);
  }
  body .tab-bar .main-btns .settings .settings-tab {
    padding: 6px var(--white-space);
  }
  body .tab-bar .main-btns .settings .settings-tab .settings-btns .slide-cont .cont.vertical {
    height: 190px;
  }
  body .tab-bar .main-btns .settings .settings-tab .settings-btns .slide-cont .cont.vertical input {
    width: 170px;
  }
}
@media screen and (max-width: 350px) {
  :root {
    --white-space: 10px;
  }
}/*# sourceMappingURL=main.css.map */